<!-- register.html -->
{% extends 'library/base.html' %}

{% block title %}Форма для регистрации пользователя{% endblock %}



{% block content %}
    {% include 'library/header.html' %}
        <div class="card m-3">
            <h3 class="mb-4">Регистрация</h3>
            <form method="post">
                {% csrf_token %}
                {{form.not_field_errors}}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Зарегистрировать</button>
            </form>
        </div>
{% endblock %}